.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw 2vw;

    padding-right: 10vw;
    padding-left: 10vw;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.project {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    border: white solid 0.2vw;
    flex-basis: content;

    display: block;
    height: 100%;
    max-width: 80%;

    margin-left: 1vw;
    margin-right: 1vw;
}

.project-info {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    display: flex;
    justify-content: space-between;
    width: 15vw;
}

.project-title {
    width: 20vw;
    margin-left: 1vw;
    font-weight: bold;
    height: 2vh;
    font-size: 1.5vw;
}

.project-description {
    margin-left: -10vw;
    margin-top: 9vh;
    font-size: 0.9vw;
    width: 22vw;
}

.project-github {
    height: 1.8vw;
    width: 1.8vw;
    padding-top: 3.5vh;
    margin-right: 1vh;
}

.project-image {
    display:block;
    margin:auto;
    width: 15vw;
    height: 15vw;
}

@media (pointer:none), (pointer:coarse) {
    .projects {
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
    }
    .project {
        margin-bottom: 10vw;
    }
    .project-title {
        font-size: 10vw;
        margin-left: 10vw;
        margin-bottom: 10vw;
    }
    .project-description {
        font-size: 6vw;
        width: 30vw;
    }
    .project-image {
        width: 75vw;
        height: 75vw;
    }
    .project-github {
        margin-left: 25vw;
        height: 12vw;
        width: 12vw;
    }
    .project {
        max-width: 100%;
        width: 100%;
    }
}