body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #3093ef;
}

/* No underline */
nu {
    text-decoration: none;
}

ul {
    padding-top: 40px;
    overflow: hidden;
    list-style-type: none;
}

li {
    display: inline-block;
    font-size: 30px;
    padding-left: 150px;
}

.text {
    padding-top: 10px;
}

.main { 
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
}

.title {
    font-size: 60px;
}

.center {
    text-align: center;
}

.description {
    font-size: 30px;
}
