.main { 
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    color: white
}

.title {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.t {
    color: black;
}

.center {
    text-align: center;
}

/***** Top content *****/
 
.top-content {
    padding-bottom: 520px;
    padding-top: 210px;
    padding-right: 0px;
}
 
.top-content .text {
    color: #fff;
}
 
.top-content .text h1 {
    margin-top: 25px;
    color: #fff;
}
 
.top-content .description {
    margin: 30px 0 10px 0;
}
 
.top-content .description p {
    opacity: 0.8;
}
 